.main-contents{
    height: calc(100vh - 56px) ;
    position: relative;
}

.main-layout {
    margin: 0px auto;
}

.search-bar {
    padding: 8px 8px;
    width: 100%;
}

.search-bar input{
    max-width: 160px;
}

main {
    padding: 0px 2px 4px 2px;
    min-height: calc(100% - 54px) ;
    border-radius: 4px 4px;
    height: 100%;
}


.max-wid {
    width: 560px;
}

/* 제품 카드 컴포넌트 정보 */

.product {
    background-color: #ffffff;
    padding-bottom: 4px;
    border-radius: 4px;
    border: 1px solid #eee ;
    overflow: hidden;
}

    .product img {
        width: 100%;
        height: 160px; /* 적절한 높이를 설정 */
        object-fit: cover; /* 이미지 비율을 유지하며 카드 크기에 맞게 조정 */
    }

    .product-info{
        padding: 8px 12px;
        position: relative;
    }

    /* 브랜드명 */
    .product-info h6{
        font-size: 12px;
        margin-bottom: 4px;
        color: #00000099;
        font-weight: 500;
    }

    /* 제품명 */
    .product-info h5{
        font-size: 14px;
        margin: 0px;
    }

    /* 가격 */
    .product-info p{
        margin: 6px 0px 0px 0px;
        font-size: 13px;
        font-weight: 600;
        color: #cd2211;
    }

    /* 버튼 영역 */
    .product-info a{
        position: absolute;
        right: 12px;
        bottom: 8px;
        font-size: 18px;
        padding: 4px 8px;
        border-radius: 99px;
    }

/* basket 컴포넌트 정보 */

aside {
    width: 100%;
    padding: 16px;
}

.basket {
    background-color: #fff;
    height: calc(100vh - 92px);
    width: 240px;

    position: fixed;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

.basket h4 {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 0px;
    padding: 0px;
    padding-left: 12px;
    height: 36px;
    border-bottom: solid 1px #00000018;
    overflow: hidden;
}

.cart-container{
    width: 100%;
    position: relative;
    padding: 4px;
}

.empty-state{
    background-color: #00000008;
    width: 100%;
    height: 100%;
    border: dashed 2px #00000018;
    border-radius: 4px;
    /* margin: 0px 0px; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #00000038;
}

.empty-state i{
    font-size: 48px;
}

.empty-state p{
    width: 100%;
    text-align: center;
}
/*  */
.product-2 {
    background-color: #f9f9fc;
    border: 1px solid #eee ;
    overflow: hidden;
    margin: 0px 0px 8px 0px ;
    width: 100%;
    position: relative;

    /* left: 12px; */
}

    .product-info-2{
        padding: 8px 12px;
    }
    
    .amount-calc{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 4px;
        height: 40px;
        border-top: solid 1px rgba(0, 0, 0, 10%);
    }

        .amount-calc .btn{
            width: 28px;
            height: 28px;
            padding: 0px 0px 4px 0px;
            border-radius: 8px;
        }

        .amount-title {
            font-size: 12px;
            width: 36px;
            font-weight: 800;
            color: rgba(0, 0, 0, 50%);
            text-align: end;
        }

        .amout-now {
            font-size: 14px;
            width: 24px;
            font-weight: 600;
            text-align: center;
            padding: 2px;
            background-color: rgba(0, 0, 0, 10%);
            border-radius: 99px;
            min-width: 25px;
            margin-right: 4px;
        }

        .amount-val {
            font-size: 14px;
            font-weight: 600;
            text-align: end;
            width: 80px;
            position: relative;
            right: 0px;
        }

/* 장바구니 */
.cart-calc {
    padding: 16px;
    border-top: solid 1px #0000001f;
    padding-top: 8px;
}
.cart-calc p {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.cart-calc p span {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    text-align: end;
}

.cart-calc .pay-total {
    color: #cd2211;
    font-size: 20px;
    font-weight: 500;
}